<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.thorder.dao.OrderUserMapper">
  <resultMap id="BaseResultMap" type="com.shangyong.thorder.entity.OrderUser">
    <id column="audit_id" jdbcType="VARCHAR" property="auditId" />
    <result column="identity_no" jdbcType="VARCHAR" property="identityNo" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="if_valid" jdbcType="BIT" property="ifValid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    audit_id, identity_no, mobile, user_name, address, ext, ext2, appid, order_id, if_valid, 
    remark, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_user
    where audit_id = #{auditId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_user
    where audit_id = #{auditId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shangyong.thorder.entity.OrderUser">
    insert into order_user (audit_id, identity_no, mobile, 
      user_name, address, ext, 
      ext2, appid, order_id, 
      if_valid, remark, create_time
      )
    values (#{auditId,jdbcType=VARCHAR}, #{identityNo,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{ifValid,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shangyong.thorder.entity.OrderUser">
    insert into order_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="auditId != null">
        audit_id,
      </if>
      <if test="identityNo != null">
        identity_no,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="ext != null">
        ext,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="ifValid != null">
        if_valid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="auditId != null">
        #{auditId,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null">
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="ifValid != null">
        #{ifValid,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangyong.thorder.entity.OrderUser">
    update order_user
    <set>
      <if test="identityNo != null">
        identity_no = #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="ifValid != null">
        if_valid = #{ifValid,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where audit_id = #{auditId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shangyong.thorder.entity.OrderUser">
    update order_user
    set identity_no = #{identityNo,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      if_valid = #{ifValid,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where audit_id = #{auditId,jdbcType=VARCHAR}
  </update>
<!--  -->
  <select id="getOrderUserBo" resultType="com.shangyong.thcore.bo.OrderUserBo">
    select 
    identity_no identityNo,
    mobile,
    user_name userName,
    address
    from order_user
    where appid= #{appid,jdbcType=VARCHAR} and order_id = #{orderId,jdbcType=VARCHAR} 
    AND if_valid = 1 
  </select>
  
   <select id="getOrderUserVo" resultType="com.shangyong.thcore.vo.OrderUserVo">
    select 
    identity_no identityNo,
    mobile,
    user_name userName
    from order_user
    where appid= #{appid,jdbcType=VARCHAR} and order_id = #{orderId,jdbcType=VARCHAR} 
    AND if_valid = 1 
  </select>
  
  <select id="countHasRepayment" resultType="int">
    SELECT
	count( * ) 
FROM
	order_loan AS A
	LEFT JOIN order_user AS B ON A.appid = B.appid 
	AND A.order_id = B.order_id 
WHERE
	A.appid = #{appid,jdbcType=VARCHAR}
	AND B.identity_no = #{identityNo,jdbcType=VARCHAR}
	AND A.`status` = 130
  </select>
  
  
  </mapper>