<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.thryt.dao.RytLinkmanMapper">
  <resultMap id="BaseResultMap" type="com.shangyong.thryt.entity.RytLinkman">
    <id column="link_id" jdbcType="VARCHAR" property="linkId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
  </resultMap>
  <sql id="Base_Column_List">
    link_id, order_no, name, mobile, type, create_time, ext1, ext2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ryt_linkman
    where link_id = #{linkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ryt_linkman
    where link_id = #{linkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shangyong.thryt.entity.RytLinkman">
    insert into ryt_linkman (link_id, order_no, name, 
      mobile, type, create_time, 
      ext1, ext2)
    values (#{linkId,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shangyong.thryt.entity.RytLinkman">
    insert into ryt_linkman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="linkId != null">
        link_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="linkId != null">
        #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangyong.thryt.entity.RytLinkman">
    update ryt_linkman
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
    </set>
    where link_id = #{linkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shangyong.thryt.entity.RytLinkman">
    update ryt_linkman
    set order_no = #{orderNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR}
    where link_id = #{linkId,jdbcType=VARCHAR}
  </update>
  <!--  -->
  
  <!-- -->
	<insert id="batchSave">
	  insert into ryt_linkman (link_id, order_no, name, 
      mobile, type, create_time, 
      ext1, ext2)
    values 
    	<foreach collection="rytLinkmanList"
			item="rytLinkman" index="index" separator=",">
	    	(
	    		#{rytLinkman.linkId,jdbcType=VARCHAR}, 
	    		#{rytLinkman.orderNo,jdbcType=VARCHAR}, 
	    		#{rytLinkman.name,jdbcType=VARCHAR}, 
	     		#{rytLinkman.mobile,jdbcType=VARCHAR}, 
	     		#{rytLinkman.type,jdbcType=VARCHAR}, 
	     		#{rytLinkman.createTime,jdbcType=TIMESTAMP}, 
	      		#{rytLinkman.ext1,jdbcType=VARCHAR},
				#{rytLinkman.ext2,jdbcType=VARCHAR}
			)
		</foreach>
	
	</insert>
</mapper>