<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangyong.thjdq.dao.OperatorSmsesMapper">
  <resultMap id="BaseResultMap" type="com.shangyong.thjdq.entity.OperatorSmses">
    <id column="operator_smses_id" jdbcType="VARCHAR" property="operatorSmsesId" />
    <result column="operator_data_id" jdbcType="VARCHAR" property="operatorDataId" />
    <result column="user_info_id" jdbcType="VARCHAR" property="userInfoId" />
    <result column="bill_month" jdbcType="VARCHAR" property="billMonth" />
    <result column="total_size" jdbcType="INTEGER" property="totalSize" />
  </resultMap>
  <sql id="Base_Column_List">
    operator_smses_id, operator_data_id, user_info_id, bill_month, total_size
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jdq_operator_smses
    where operator_smses_id = #{operatorSmsesId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from jdq_operator_smses
    where operator_smses_id = #{operatorSmsesId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shangyong.thjdq.entity.OperatorSmses">
    insert into jdq_operator_smses (operator_smses_id, operator_data_id, 
      user_info_id, bill_month, total_size
      )
    values (#{operatorSmsesId,jdbcType=VARCHAR}, #{operatorDataId,jdbcType=VARCHAR}, 
      #{userInfoId,jdbcType=VARCHAR}, #{billMonth,jdbcType=VARCHAR}, #{totalSize,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shangyong.thjdq.entity.OperatorSmses">
    insert into jdq_operator_smses
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operatorSmsesId != null">
        operator_smses_id,
      </if>
      <if test="operatorDataId != null">
        operator_data_id,
      </if>
      <if test="userInfoId != null">
        user_info_id,
      </if>
      <if test="billMonth != null">
        bill_month,
      </if>
      <if test="totalSize != null">
        total_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operatorSmsesId != null">
        #{operatorSmsesId,jdbcType=VARCHAR},
      </if>
      <if test="operatorDataId != null">
        #{operatorDataId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null">
        #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="billMonth != null">
        #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="totalSize != null">
        #{totalSize,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shangyong.thjdq.entity.OperatorSmses">
    update jdq_operator_smses
    <set>
      <if test="operatorDataId != null">
        operator_data_id = #{operatorDataId,jdbcType=VARCHAR},
      </if>
      <if test="userInfoId != null">
        user_info_id = #{userInfoId,jdbcType=VARCHAR},
      </if>
      <if test="billMonth != null">
        bill_month = #{billMonth,jdbcType=VARCHAR},
      </if>
      <if test="totalSize != null">
        total_size = #{totalSize,jdbcType=INTEGER},
      </if>
    </set>
    where operator_smses_id = #{operatorSmsesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shangyong.thjdq.entity.OperatorSmses">
    update jdq_operator_smses
    set operator_data_id = #{operatorDataId,jdbcType=VARCHAR},
      user_info_id = #{userInfoId,jdbcType=VARCHAR},
      bill_month = #{billMonth,jdbcType=VARCHAR},
      total_size = #{totalSize,jdbcType=INTEGER}
    where operator_smses_id = #{operatorSmsesId,jdbcType=VARCHAR}
  </update>
</mapper>